# IDE 
.vscode/

# virtual environment
.venv/

# project import info directory
*.egg-info/

# data file directory
data/
*.parquet
*.csv
*.json
*.zip
*.gz

# Python 
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Jupyter 
notebooks/
.ipynb_checkpoints/

# ML / modeling artifacts
*.pkl
*.joblib
*.pt
*.onnx
*.h5
*.model

# Cache directories
.cache/
.mypy_cache/
.pytest_cache/
